h1{
    background-color: greenyellow;
}
#dataContainer{
    background-color: lightblue;
    box-shadow: 5px 10px #c3e9ff;
}
#auction{
    padding: 15px;
}
#conversionRate{
    font-size: 75%;
}
#conversionOutput{
    font-size: 125%;
}
#auction{
    width: 100%;
}
.col-md-auto{
    background-image: linear-gradient(0deg, rgba(255,0,0,0), rgb(192, 181, 233));
    padding-left: 5%;
    padding-right: 5%;
    margin: 25px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#convertButton{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    display: inline-block;
    position: relative;
    top: -2px;
    right: 15px;
}
/* table:nth-child(even) {
    background-color: greenyellow;
    
} */